<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <a routerLink="/" class="d-block auth-logo">
                      <!-- <img [src]="mode === 'dark' ? 'assets/images/logos/robin-light.png' : 'assets/images/logos/robin-dark.png'" alt="robin"
                      height="30"
                      class="logo mx-auto" /> -->
                      <p class="fw-bold">Yéminus Logo</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body">

                        <div class="p-2">
                            <div class="text-center">

                                <div class="avatar-md mx-auto">
                                    <div class="avatar-title rounded-circle bg-light">
                                        <i class="bx bx-mail-send h1 mb-0 text-primary"></i>
                                    </div>
                                </div>
                                <div class="p-2 mt-4">
                                    <h4>Tu Solicitud Será Considerada</h4>
                                    <p>
                                         Tu solicitud ha sido recibida y será revisada por nuestro equipo. Próximamente, recibirás una respuesta por correo electrónico.
                                         <br>
                                          Gracias por tu paciencia y comprensión.</p>

                                    
                                    <div class="mt-4">
                                        <a [routerLink]="'/products/portal'" class="btn btn-success">Ir a Productos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">

                    <p>© {{year}} Yéminus</p>
                </div>

            </div>
        </div>
    </div>
</div>
