<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">{{TRANSLATE_KEY + 'PASSWORD_R'|translate}}</h5>
                  <p>{{TRANSLATE_KEY + 'SIGN_CONTINUE'|translate}}</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="assets/images/profile-img.png"
                  alt=""
                  class="img-fluid" />
              </div>
            </div>
          </div>

          <div class="card-body pt-3">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img
                      src="assets/images/brands/tsolife-ico-250x250.svg"
                      alt=""
                      class="rounded-circle"
                      height="34" />
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <ng-container [ngSwitch]="step">
                <ng-container *ngSwitchCase="1">
                  <form
                    autocomplete="off"
                    class="form-horizontal"
                    [formGroup]="group"
                    (ngSubmit)="onSubmit()">
                    <ngb-alert
                      type="danger"
                      *ngIf="error"
                      [dismissible]="false">
                      {{ error }}
                    </ngb-alert>

                    <div class="mb-3">
                      <label for="email">{{TRANSLATE_KEY + 'EMAIL'|translate}}</label>
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        autocomplete="new-input"
                        [ngClass]="{
                          'is-invalid': submitted && f['email'].errors
                        }" />
                      <div
                        *ngIf="submitted && f['email'].errors"
                        class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                          {{TRANSLATE_KEY + 'EMAIL_R'|translate}}
                        </div>
                        <div *ngIf="f['email'].errors['email']">
                          {{TRANSLATE_KEY + 'EMAIL_V'|translate}}
                        </div>
                      </div>
                    </div>

                    <div class="mt-3 d-grid">
                      <button class="btn btn-primary" type="submit">
                        {{TRANSLATE_KEY + 'REQUEST_C'|translate}}
                      </button>
                    </div>
                  </form>
                </ng-container>

                <ng-container *ngSwitchCase="2">
                  <form
                    autocomplete="off"
                    class="form-horizontal"
                    [formGroup]="groupCode"
                    (ngSubmit)="onValidate()">
                    <ngb-alert
                      type="danger"
                      *ngIf="error"
                      [dismissible]="false">
                      {{ error }}
                    </ngb-alert>

                    <div class="mb-3">
                      <label for="token">{{TRANSLATE_KEY + 'CODE'|translate}}</label>
                      <input
                        type="text"
                        formControlName="token"
                        class="form-control"
                        id="token"
                       [placeholder]="TRANSLATE_KEY + 'CODE'|translate"
                        autocomplete="new-input"
                        mask="000000"
                        [ngClass]="{
                          'is-invalid': submitted && c['token'].errors
                        }" />
                      <div
                        *ngIf="submitted && c['token'].errors"
                        class="invalid-feedback">
                        <div *ngIf="c['token'].errors['required']">
                          {{TRANSLATE_KEY + 'CODE_R'|translate}}
                        </div>
                      </div>
                    </div>

                    <div class="mt-3 d-grid">
                      <button class="btn btn-primary" type="submit">
                        {{TRANSLATE_KEY + 'VALIDATE'|translate}}
                      </button>
                    </div>
                  </form>
                </ng-container>

                <ng-container *ngSwitchCase="3">
                  <form
                    autocomplete="off"
                    class="form-horizontal"
                    [formGroup]="groupPassword"
                    (ngSubmit)="onPassword()">
                    <ngb-alert
                      type="danger"
                      *ngIf="error"
                      [dismissible]="false">
                      {{ error }}
                    </ngb-alert>

                    <div class="mb-3">
                      <label for="password">{{TRANSLATE_KEY + 'NEW_PASSWORD'|translate}}</label>
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        id="password"
                        [placeholder]="TRANSLATE_KEY + 'NEW_PASSWORD'|translate"
                        autocomplete="new-input"
                        [ngClass]="{
                          'is-invalid': submitted && p['password'].errors
                        }" />
                      <div
                        *ngIf="submitted && p['password'].errors"
                        class="invalid-feedback">
                        {{TRANSLATE_KEY + 'PASSWORD_LENGTH'|translate}}
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="passwordConfirmation">{{TRANSLATE_KEY + 'CONFIRM_PASSWORD'|translate}}</label>
                      <input
                        type="password"
                        formControlName="passwordConfirmation"
                        class="form-control"
                        id="passwordConfirmation"
                        placeholder="Password"
                        autocomplete="new-input"
                        [ngClass]="{
                          'is-invalid':
                            submitted && p['passwordConfirmation'].errors
                        }" />
                      <div
                        *ngIf="submitted && p['passwordConfirmation'].errors"
                        class="invalid-feedback">
                        {{TRANSLATE_KEY + 'PASSWORD_LENGTH'|translate}}
                      </div>
                    </div>

                    <div class="mt-3 d-grid">
                      <button class="btn btn-primary" type="submit">
                        {{TRANSLATE_KEY + 'UPDATE'|translate}}
                      </button>
                    </div>
                  </form>
                </ng-container>

                <ng-container *ngSwitchCase="4">
                  <div class="p-2">
                    <ngb-alert type="success">
                      {{TRANSLATE_KEY + 'UPDATE_S'|translate}}
                    </ngb-alert>
                    <div class="mt-3 d-grid">
                      <a
                        [routerLink]="['/account/auth/login']"
                        class="btn btn-primary">
                        {{TRANSLATE_KEY + 'BACK_LOGIN'|translate}}
                      </a>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <p>
            {{TRANSLATE_KEY + 'DONT_HAVE'|translate}}
            <a routerLink="../register" class="fw-medium text-primary">
              {{TRANSLATE_KEY + 'SIGN_UP'|translate}}
            </a>
          </p>
          <p>
            © {{ year }} Lazo.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
