<div class="container py-4 mt-4 ">
  <div class="row text-dark">
    <h1 class="mt-5">{{TRANSLATE_KEY+'TERMS_USE'|translate}}</h1>
    <p>{{TRANSLATE_KEY+ 'UPDATED_DATE' | translate }}</p>
    <div class="col-md-9">
      <p>
        {{TRANSLATE_KEY+ 'TERMS_OF_USE' | translate }}<br><br>
        {{TRANSLATE_KEY+ 'RESIDE_NOTICE' | translate }}<br><br>
        {{TRANSLATE_KEY+ 'COMMERCIAL_TERMS' | translate }}<br><br>
        {{TRANSLATE_KEY+ 'PRIVACY_POLICY_NOTICE' | translate }}
      </p>

    </div>
    <h4>{{TRANSLATE_KEY+ 'WHO_WE_ARE' | translate }}</h4>
    <div class="col-md-9">
      <p>{{TRANSLATE_KEY+ 'ROBIN_DESCRIPTION' | translate }}</p>

    </div>
    <h4>{{TRANSLATE_KEY+ 'SIGNUP_AND_ACCESS' | translate }}</h4>
    <div class="col-md-9">
      <p>
        <b>{{TRANSLATE_KEY+'MINIMUM_AGE_LABEL' | translate }}</b> {{TRANSLATE_KEY+ 'MINIMUM_AGE_TEXT' | translate }}
        <br><br>
        <b>{{ TRANSLATE_KEY+'REGISTRATION_LABEL' | translate }}</b> {{TRANSLATE_KEY+ 'REGISTRATION_TEXT' | translate }}
    </p>


    </div>
    <h4>{{TRANSLATE_KEY+ 'USING_OUR_SERVICES' | translate }}</h4>

    <div class="col-md-9">
      <p>
        <b>{{TRANSLATE_KEY+ 'WHAT_YOU_CAN_DO' | translate }}</b>. {{TRANSLATE_KEY+ 'YOU_CAN_DO_DESCRIPTION' | translate }}
        <br><br>
        <b>{{TRANSLATE_KEY+ 'WHAT_YOU_CANNOT_DO' | translate }}</b>. {{TRANSLATE_KEY+ 'YOU_CANNOT_DO_DESCRIPTION' | translate }}
      </p>

      <ul class="list-group mx-3 items-ls">
        <li>{{TRANSLATE_KEY+ 'ITEM_1' | translate }}</li>
        <li>{{TRANSLATE_KEY+ 'ITEM_2' | translate }}</li>
        <li>{{TRANSLATE_KEY+ 'ITEM_3' | translate }}</li>
        <li>{{TRANSLATE_KEY+ 'ITEM_4' | translate }}</li>
        <li>{{TRANSLATE_KEY+ 'ITEM_5' | translate }}</li>
        <li>{{TRANSLATE_KEY+ 'ITEM_6' | translate }}</li>
        <li>{{TRANSLATE_KEY+ 'ITEM_7' | translate }}</li>
      </ul>

      <p>
        <b>{{TRANSLATE_KEY+ 'SOFTWARE' | translate }}</b> {{TRANSLATE_KEY+ 'SOFTWARE_DESCRIPTION' | translate }}
        <br><br>
        <b>{{TRANSLATE_KEY+ 'CORPORATE_DOMAINS' | translate }}</b> {{TRANSLATE_KEY+ 'CORPORATE_DOMAINS_DESCRIPTION' | translate }}
        <br><br>
        <b>{{TRANSLATE_KEY+ 'THIRD_PARTY_SERVICES' | translate }}</b> {{TRANSLATE_KEY+ 'THIRD_PARTY_SERVICES_DESCRIPTION' | translate }}
        <br><br>
        <b>{{TRANSLATE_KEY+ 'FEEDBACK' | translate }}</b>{{TRANSLATE_KEY+ 'FEEDBACK_DESCRIPTION' | translate }}
      </p>

    </div>
    <h4>{{TRANSLATE_KEY+ 'CONTENT_TITLE' | translate }}</h4>

    <div class="col-md-9">
      <p>
        <b>{{ TRANSLATE_KEY+ 'YOUR_CONTENT' | translate }}</b>  {{TRANSLATE_KEY+  'PROVIDE_INFORMATION_SERVICES' | translate }}
        <b>{{ TRANSLATE_KEY+ 'CONTENT_OWNERSHIP' | translate }}</b>{{TRANSLATE_KEY+ 'PROPERTY_CONTENT_DISCLAIMER' | translate }}
        <b>{{  TRANSLATE_KEY+ 'CONTENT_SIMILARITY' | translate }}</b>{{ TRANSLATE_KEY+ 'RESULTS_NATURE' | translate }}
        <br> <br>
        <b>{{TRANSLATE_KEY+ 'OUR_CONTENT_USAGE' | translate }}</b>{{TRANSLATE_KEY+ 'CONTENT_USAGE' | translate }}
        <br> <br>
        {{TRANSLATE_KEY+  'ACCEPTANCE_OF_TERMS' | translate }}
        <br> <br>
      </p>
      <ul class="list-group mx-3 items-ls">
        <li>{{ TRANSLATE_KEY+ 'RESULTS_NOT_ALWAYS_ACCURATE' | translate }}</li>

        <li>{{ TRANSLATE_KEY+ 'EVALUATE_ACCURACY_RESULTS' | translate }}</li>
        <li>{{ TRANSLATE_KEY+ 'PROHIBITED_USE_PERSONAL_INFO' | translate }}</li>
        <li>{{ TRANSLATE_KEY+ 'INCOMPLETE_OR_OUTDATED_RESULTS' | translate }}</li>
        <li>{{TRANSLATE_KEY+  'INACCURATE_OFFENSIVE_RESULTS' | translate }}</li>

      </ul>
    </div>
    <h4>{{TRANSLATE_KEY+ 'SERVICE_INTERRUPTION' | translate }}</h4>

    <div class="col-md-9">
      <p>
        {{TRANSLATE_KEY+ 'SERVICE_INTERRUPTION_NOTICE' | translate }}
      </p>

    </div>
    <h4>{{TRANSLATE_KEY+ 'WARRANTY_DISCLAIMER' | translate }}</h4>

    <div class="col-md-9">
      <p> {{TRANSLATE_KEY+ 'WARRANTY_DISCLAIMER_FIRST_PART' | translate }}<br> <br>
        {{TRANSLATE_KEY+ 'WARRANTY_DISCLAIMER_SECOND_PART' | translate }}
      </p>
    </div>
    <h4>{{TRANSLATE_KEY+ 'LIMITATION_OF_LIABILITY' | translate }}</h4>
    <div class="col-md-9">
      <p> {{TRANSLATE_KEY+ 'LIABILITY_LIMITATION_FIRST_PART' | translate }}
        <br>
        <br>
        {{TRANSLATE_KEY+ 'LIABILITY_LIMITATION_SECOND_PART' | translate }}
      </p>
    </div>
    <h4>{{TRANSLATE_KEY+ 'GENERAL_TERMS' | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{TRANSLATE_KEY+ 'TERMS_ASSIGNMENT' | translate }}  <br> <br>
        {{TRANSLATE_KEY+ 'TERMS_CHANGES' | translate }}     </p>
        <ul class="list-group mx-3 items-ls">
          <li>{{TRANSLATE_KEY+ 'LIST_ITEM_1' | translate }}</li>
          <li>{{TRANSLATE_KEY+ 'LIST_ITEM_2' | translate }}</li>
          <li>{{TRANSLATE_KEY+ 'LIST_ITEM_3' | translate }}</li>
          <li>{{TRANSLATE_KEY+ 'LIST_ITEM_4' | translate }}</li>
          <li>{{TRANSLATE_KEY+ 'LIST_ITEM_5' | translate }}</li>
        </ul>

        <p>
          {{TRANSLATE_KEY+ 'TERMS_DELAY_ENFORCEMENT' | translate }}<br><br>
          {{TRANSLATE_KEY+ 'TERMS_BUSINESS_CONTROLS' | translate }}<br><br>
          {{TRANSLATE_KEY+ 'TERMS_COMPLETE_AGREEMENT' | translate }}
      </p>

    </div>
  </div>
