<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img
              [src]="'assets/images/logos/favicon.png'"
              alt=""
              height="70" />
          </span>
          <span class="logo-lg">
            <img
              [src]="'assets/images/logos/favicon.png'"
              alt=""
              height="70" />
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img
              [src]="'assets/images/logos/favicon.png'"
              alt=""
              height="70" />
          </span>
          <span class="logo-lg">
            <img
              [src]="'assets/images/logos/favicon.png'"
              alt=""
              height="70" />
          </span>
        </a>
      </div>

      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          type="button"
          class="btn btn-sm px-3 font-size-16 d-lg-none header-item"
          ngbDropdownToggle
        >
          <i class="fa fa-fw fa-bars"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-start p-0"
          ngbDropdownMenu
          aria-labelledby="page-header-notifications-dropdown"
        >
          <div class="p-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="m-0">Menu</h6>
              </div>
            </div>
          </div>
          <ngb-accordion
            [closeOthers]="true"
            class="custom-accordion no-down-arrow-accordion"
          >
            <ngb-panel
              *ngFor="let item of menuItems"
              [disabled]="!hasItems(item)"
            >
              <ng-template ngbPanelTitle *ngIf="!hasItems(item)">
                <div class="d-flex justify-content-between">
                  <a
                    class="nav-link dropdown-item bg-transparent"
                    aria-current="page"
                    [routerLink]="item.link"
                    routerLinkActive="active"
                  >
                    <i class="bx {{ item.icon }} me-2"></i>&nbsp;{{
                      item.label | translate
                    }}
                  </a>
                </div>
              </ng-template>
              <ng-template
                *ngIf="hasItems(item)"
                ngbPanelTitle
                class="accordion-list"
              >
                <div class="d-flex justify-content-between col-12">
                  <div class="col-11">
                    <a
                      class="nav-link w-100"
                      aria-current="page"
                      [routerLink]="item.link"
                    >
                      <i class="bx {{ item.icon }} me-2"></i>&nbsp;{{
                        item.label | translate
                      }}
                    </a>
                  </div>
                  <div class="col-1">
                    <i class="bx bx bx-chevron-down"></i>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent *ngIf="hasItems(item)">
                <div
                  class="card-body p-0"
                  *ngFor="let subItem of item.subItems; let last = last"
                  [ngClass]="{ 'mb-2': !last }"
                >
                  <a
                    class="dropdown-item bg-transparent"
                    [routerLink]="subItem.link"
                    routerLinkActive="active"
                  >
                    {{ subItem.label | translate }}
                  </a>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <app-translate-button></app-translate-button>
      <div class="dropdown d-inline-block d-lg-none me-2" ngbDropdown>
        <button
          type="button"
          class="btn header-item noti-icon"
          id="page-header-search-dropdown"
          ngbDropdownToggle>
          <i class="mdi mdi-magnify"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          ngbDropdownMenu>
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search ..."
                  aria-label="Recipient's username" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="mdi mdi-magnify"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- <div class="dropdown d-inline-block" ngbDropdown>
        <button
          routerLink="/products/cart"
          type="button"
          class="btn header-item noti-icon">
          <i class="bx bx-cart"></i>
          <!-- <span class="badge bg-danger rounded-pill">0</span> 
        </button>
      </div>-->


      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          type="button"
          class="btn header-item noti-icon"
          id="page-header-notifications-dropdown"
          ngbDropdownToggle>
          <i class="bx bx-bell"></i>
          <span class="badge bg-danger rounded-pill">0</span>
        </button>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          ngbDropdownMenu
          aria-labelledby="page-header-notifications-dropdown">
          <div class="p-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="m-0">
                  {{ 'HEADER.NOTIFICATIONS.TITLE' | translate }}
                </h6>
              </div>
              <div class="col-auto">
                <a href="javascript: void(0);" class="small">{{
                  'HEADER.NOTIFICATIONS.VIEW_ALL' | translate
                }}</a>
              </div>
            </div>
          </div>
          <app-ngx-simplebar style="position: relative; height: 230px">
          </app-ngx-simplebar>
          <div class="p-2 border-top d-grid">
            <a
              class="btn btn-sm btn-link font-size-14 text-center"
              href="javascript:void(0)">
              <i class="mdi mdi-arrow-right-circle me-1"></i>
              {{ 'HEADER.NOTIFICATIONS.LOAD_MORE' | translate }}
            </a>
          </div>
        </div>
      </div>

      <app-page-header-user-dropdown></app-page-header-user-dropdown>

      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          type="button"
          class="btn header-item noti-icon"
          id="page-header-settings-dropdown"
          ngbDropdownToggle>
          <i class="bx bx-cog"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          ngbDropdownMenu
          aria-labelledby="page-header-notifications-dropdown">
          <div class="p-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="m-0">{{TRANSLATE_KEY+'SETTINGS'|translate}}</h6>
              </div>
            </div>
          </div>
          <app-ngx-simplebar style="position: relative; height: 230px">
            <div class="px-3">
              <h6 class="mt-4 mb-3">{{TRANSLATE_KEY+'LAYOUT'|translate}}</h6>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="is-layout"
                  (click)="changeLayout()" />
                <label class="form-check-label" for="is-layout">{{
                  attribute === 'vertical' ? (TRANSLATE_KEY+'HORIZONTAL' | translate) : (TRANSLATE_KEY+'VERTICAL' | translate)
                }}</label>
              </div>

              <h6 class="mt-4 mb-3">Theme Mode</h6>
              <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="theme-color" id="theme-color-light"
                  [checked]="mode === 'light'" (change)="changeMode('light')">
                <label class="form-check-label" for="theme-color-light">{{TRANSLATE_KEY+'LIGHT'|translate}}</label>
              </div>
              <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="theme-color" id="theme-color-dark"
                  [checked]="mode === 'dark'" (change)="changeMode('dark')">
                <label class="form-check-label" for="theme-color-dark">{{TRANSLATE_KEY+'DARK'|translate}}</label>
              </div>
            </div>
          </app-ngx-simplebar>
          <div class="p-2 border-top d-grid">
            <a
              class="btn btn-sm btn-link font-size-14 text-center"
              href="javascript:void(0)">
              <i class="mdi mdi-arrow-right-circle me-1"></i>
              {{TRANSLATE_KEY+'RESET'|translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="topnav">
  <nav class="navbar navbar-expand-lg topnav-menu">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li
            class="nav-item"
            *ngFor="let item of menuItems"
            [ngClass]="{
              'dropdown dropdown-toggle arrow-none': item.subItems
            }">
            <a class="nav-link" aria-current="page" [routerLink]="item.link" routerLinkActive="active">
              <i class="bx {{ item.icon }} me-2"></i>&nbsp;{{
                item.label | translate
              }}
              <div class="arrow-down" *ngIf="hasItems(item)"></div>
            </a>
            <ul class="dropdown-menu" *ngIf="hasItems(item)">
              <li *ngFor="let subItem of item.subItems">
                <a
                  class="dropdown-item"
                  [routerLink]="subItem.link"
                  routerLinkActive="active">
                  {{ subItem.label | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
