@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "src/assets/scss/variables";

.topnav {
  nav.navbar {
    &.navbar-expand-lg {
      .navbar-collapse {
        align-content: center;
        justify-content: center;
      }
    }
  }
}

.dropdown-item {
  &.active, &:hover{
      color: $primary !important;
  }
}
