<div class="container-fluid">
  <app-page-title
    title="Users"
    [breadcrumbItems]="breadCrumbs"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="row justify-content-end">
            <div class="col-md-3 mb-2 mb-sm-0">
              <select class="form-control" [formControl]="statusControl">
                <option value="0">{{TRANSLATE_KEY+ 'ACTIVE' | translate}}</option>
                <option value="1">{{TRANSLATE_KEY+ 'ARCHIVED' | translate}}</option>
              </select>
            </div>

            <div class="col-md-5">
              <div class="d-flex justify-content-end gap-2">
                <input
                  type="search"
                  class="form-control"
                  id="searchInput"
                  [placeholder]="TRANSLATE_KEY+'SEARCH'|translate"
                  [formControl]="searchControl"
                  autocomplete="new-input" />

                <a (click)="clear()" class="btn btn-light"
                  ><i class="mdi mdi-refresh"></i
                ></a>
                <a [routerLink]="['forms']" class="btn btn-primary">
                  <i class="bx bx-plus-medical align-middle"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-centered table-nowrap table-hover align-middle">
              <thead>
                <tr>
                  <th
                    sortable="firstName"
                    (sort)="onSort($event)"
                    style="width: 10%">
                    {{TRANSLATE_KEY+ 'F_NAME' | translate}}
                  </th>
                  <th
                    sortable="lastName"
                    (sort)="onSort($event)"
                    style="width: 10%">
                    {{TRANSLATE_KEY+ 'L_NAME' | translate}}
                  </th>
                  <th
                    sortable="email"
                    (sort)="onSort($event)"
                    style="width: 10%">
                    {{TRANSLATE_KEY+ 'EMAIL' | translate}}
                  </th>
                  <th style="width: 10%">{{TRANSLATE_KEY+ 'ROLES' | translate}}</th>
                  <th class="text-end">{{TRANSLATE_KEY+ 'ACTIONS' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                    <tr *ngFor="let data of (service.collection$ | async)?.data">
                      <td>{{ data.firstName }}</td>
                      <td>{{ data.lastName }}</td>
                      <td>{{ data.email }}</td>
                      <td>
                        <div
                          class="col-12 text-center"
                          *ngFor="let role of data.roles; let i = index"
                          [ngClass]="{ 'mb-2': i + 1 !== data.roles.length }">
                          <span
                            class="badge badge-soft-secondary font-size-11 w-100 p-2">
                            {{ role.name }}
                          </span>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex gap-2 justify-content-end">
                          <button
                            type="button"
                            class="btn btn-outline-danger "
                            (click)="deleteUser(data.id)">
                            <i class="fa fa-trash"></i>
                          </button>
                          <a
                            *ngIf="data.id !== authenticationService.authService.model!.id"
                            (click)="loginAsThisUser(data)"
                            class="btn btn-sm btn-outline-primary">
                            <i class="bx bx-user-check"></i>
                            {{TRANSLATE_KEY+ 'LOGIN' | translate}}&nbsp;
                          </a>
                          <a
                            [title]="data.name + ' details'"
                            (click)="goToDetails(data)"
                            class="btn btn-sm btn-outline-secondary">
                            <i class="bx bx-customize"></i>
                            {{TRANSLATE_KEY+ 'DETAILS' | translate}}
                          </a>
                        </div>
                      </td>
                    </tr>
              </tbody>
            </table>
          </div>

          <div class="row justify-content-between align-items-center">
            <div class="col-auto me-auto">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center"
                  >Mostrar
                  <select
                    aria-controls="tickets-table"
                    name="pageSize"
                    [formControl]="limitControl"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  {{TRANSLATE_KEY+ 'ENTRIES' | translate}}</label
                >
              </div>
            </div>
            <div class="col-auto me-auto">
              <p class="mb-0">
                {{TRANSLATE_KEY+ 'SHOWING' | translate}} <b>{{ service.from }}</b> {{TRANSLATE_KEY+ 'TO' | translate}} <b>{{ service.to }}</b> {{TRANSLATE_KEY+ 'OF' | translate}}
                <b>{{ service.total }}</b> {{TRANSLATE_KEY+ 'ENTRIES' | translate}}
              </p>
            </div>

            <div class="col-auto">
              <ul
                class="pagination pagination-rounded justify-content-end mb-2">
                <ngb-pagination
                  [collectionSize]="service.total"
                  [(page)]="service.page"
                  [maxSize]="3"
                  [rotate]="true"
                  [pageSize]="service.limit">
                </ngb-pagination>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
