<div class="container py-4 mt-4">
  <div class="row text-dark">
    <h1 class="mt-5">{{ TRANSLATE_KEY + "POLICY-PRIVACY" | translate }}</h1>
    <p>Actualizado el 19 de diciembre del 2023</p>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "PRIVACY_POLICY_TEXT" | translate }}
      </p>
    </div>
    <h4>{{ TRANSLATE_KEY + "PERSONAL_INFORMATION_COLLECTED" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "PERSONAL_INFORMATION_COLLECTED_INTRO" | translate }}
      </p>

      <ul class="list-group mx-3 items-ls mb-2 ">
        <li>
          {{ TRANSLATE_KEY + "PERSONAL_INFORMATION_DESCRIPTION" | translate }}
        </li>

        <li>
          {{ TRANSLATE_KEY + "ACCOUNT_INFORMATION_DESCRIPTION" | translate }}
        </li>
        <li>{{ TRANSLATE_KEY + "USER_CONTENT_DESCRIPTION" | translate }}</li>
        <li>
          {{
            TRANSLATE_KEY + "COMMUNICATION_INFORMATION_DESCRIPTION" | translate
          }}
        </li>
        <li>
          {{
            TRANSLATE_KEY + "SOCIAL_MEDIA_INFORMATION_DESCRIPTION" | translate
          }}
        </li>
        <li>{{ TRANSLATE_KEY + "OTHER_INFORMATION_PROVIDED" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "LOG_DATA" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_DATA" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "DEVICE_INFORMATION" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "COOKIES_INFORMATION" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "ANALYTICS_INFORMATION" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "UPLOADED_FILES_PRIVACY" | translate }}</li>
      </ul>
    </div>
    <h4>{{ TRANSLATE_KEY + "SERVICE_USAGE_TITLE" | translate }}</h4>
    <h4>{{ TRANSLATE_KEY + "PERSONAL_INFORMATION_USE_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>{{ TRANSLATE_KEY + "PERSONAL_INFO_USAGE_PURPOSE" | translate }}</p>

      <ul class="list-group mx-3 items-ls mb-2">
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_1" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_2" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_3" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_4" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_5" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_6" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "USAGE_PURPOSE_7" | translate }}</li>
      </ul>

      <p>{{ TRANSLATE_KEY + "AGGREGATED_INFO_PARAGRAPH" | translate }}</p>
      <p>{{ TRANSLATE_KEY + "CONTENT_USAGE_PARAGRAPH" | translate }}</p>
    </div>

    <h4>{{ TRANSLATE_KEY + "PERSONAL_INFO_DISCLOSURE_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "PERSONAL_INFO_DISCLOSURE_PARAGRAPH" | translate }}
      </p>

      <ul class="list-group mx-3 items-ls mb-2">
        <li>
          {{
            TRANSLATE_KEY + "DISCLOSURE_TO_VENDORS_PROVIDERS_TITLE" | translate
          }}:
          {{
            TRANSLATE_KEY + "DISCLOSURE_TO_VENDORS_PROVIDERS_DESCRIPTION"
              | translate
          }}
        </li>
        <li>
          {{
            TRANSLATE_KEY + "DISCLOSURE_FOR_BUSINESS_TRANSFERS_TITLE"
              | translate
          }}:
          {{
            TRANSLATE_KEY + "DISCLOSURE_FOR_BUSINESS_TRANSFERS_DESCRIPTION"
              | translate
          }}
        </li>

        <li>
          {{ TRANSLATE_KEY + "LEGAL_REQUIREMENTS_TITLE" | translate }}:
          {{ TRANSLATE_KEY + "LEGAL_REQUIREMENTS_DESCRIPTION" | translate }}
        </li>
        <li>
          {{ TRANSLATE_KEY + "AFFILIATES_DISCLOSURE_TITLE" | translate }}:
          {{ TRANSLATE_KEY + "AFFILIATES_DISCLOSURE_DESCRIPTION" | translate }}
        </li>
        <li>
          {{
            TRANSLATE_KEY + "BUSINESS_ACCOUNT_ADMINISTRATORS_TITLE" | translate
          }}:
          {{
            TRANSLATE_KEY + "BUSINESS_ACCOUNT_ADMINISTRATORS_DESCRIPTION"
              | translate
          }}
        </li>

        <li>
          {{ TRANSLATE_KEY + "SHARING_WITH_OTHER_USERS_TITLE" | translate }}:
          {{
            TRANSLATE_KEY + "SHARING_WITH_OTHER_USERS_DESCRIPTION" | translate
          }}
        </li>
      </ul>
    </div>
    <h4>{{ TRANSLATE_KEY + "YOUR_RIGHTS_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>{{ TRANSLATE_KEY + "YOUR_RIGHTS_DESCRIPTION" | translate }}</p>
      <ul class="list-group mx-3 items-ls mb-2">
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_1" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_2" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_3" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_4" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_5" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_6" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_7" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "YOUR_RIGHTS_8" | translate }}</li>
      </ul>
      <p>{{ TRANSLATE_KEY + "EXERCISE_RIGHTS_ACCOUNT_NOTE" | translate }}</p>
      <p>
        {{ TRANSLATE_KEY + "ACCURACY_NOTE" | translate }}
      </p>
    </div>
    <h4>{{ TRANSLATE_KEY + "US_STATE_DISCLOSURES_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "US_STATE_DISCLOSURES_DESCRIPTION" | translate }}
      </p>
      <table class="table table-striped table-bordered table-hover" >
        <tr  class="    ">
          <th class="p-3 text-center">{{ TRANSLATE_KEY + "PERSONAL_INFO_CATEGORY" | translate }}</th>
          <th class="p-3 text-center">{{ TRANSLATE_KEY + "PERSONAL_INFO_DISCLOSURE" | translate }}</th>
        </tr>
        <tr>
          <td class="p-2">{{ TRANSLATE_KEY + "IDENTIFIERS_INFORMATION" | translate }}</td>
          <td class="p-2">{{ TRANSLATE_KEY + "IDENTIFIERS_DISCLOSURE" | translate }}</td>
        </tr>

        <tr>
          <td class="p-2">{{ TRANSLATE_KEY + "COMMERCIAL_INFO" | translate }}</td>
          <td class="p-2" >
            {{ TRANSLATE_KEY + "COMMERCIAL_INFO_DISCLOSURE" | translate }}
          </td>
        </tr>

        <tr>
          <td class="p-2">{{ TRANSLATE_KEY + "NETWORK_ACTIVITY_INFO" | translate }}</td>
          <td class="p-2">
            {{ TRANSLATE_KEY + "NETWORK_ACTIVITY_DISCLOSURE" | translate }}
          </td>
        </tr>

        <tr>
          <td class="p-2">{{ TRANSLATE_KEY + "GEOLOCATION_DATA" | translate }}</td>
          <td class="p-2">{{ TRANSLATE_KEY + "GEOLOCATION_DISCLOSURE" | translate }}</td>
        </tr>

        <tr>
          <td class="p-2" >{{ TRANSLATE_KEY + "SENSITIVE_PERSONAL_INFO" | translate }}</td>
          <td class="p-2">{{ TRANSLATE_KEY + "SENSITIVE_INFO_DISCLOSURE" | translate }}</td>
        </tr>
      </table>
    </div>

    <h4>{{ TRANSLATE_KEY + "CHILDREN_POLICY_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "CHILDREN_POLICY_TEXT" | translate }}
      </p>
    </div>

    <h4>{{ TRANSLATE_KEY + "EXTERNAL_LINKS_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "EXTERNAL_LINKS_TEXT" | translate }}
      </p>
    </div>

    <h4>{{ TRANSLATE_KEY + "SECURITY_RETENTION_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "SECURITY_RETENTION_TEXT" | translate }}
      </p>
    </div>

    <h4>{{ TRANSLATE_KEY + "INTERNATIONAL_USERS_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "INTERNATIONAL_USERS_TEXT" | translate }}
      </p>
      <h5>{{ TRANSLATE_KEY + "LEGAL_BASIS_TITLE" | translate }}</h5>
      <p>
        {{ TRANSLATE_KEY + "LEGAL_BASIS_LIST" | translate }}
      </p>
      <ul  class="list-group mx-3 items-ls mb-2">
        <li>{{ TRANSLATE_KEY + "LEGAL_BASIS_1" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "LEGAL_BASIS_2" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "LEGAL_BASIS_3" | translate }}</li>
        <li>{{ TRANSLATE_KEY + "LEGAL_BASIS_4" | translate }}</li>
      </ul>
      <p>
        {{ TRANSLATE_KEY + "DATA_TRANSFERS_TEXT" | translate }}
      </p>
      <p>
        {{ TRANSLATE_KEY + "DPO_CONTACT_TEXT" | translate }}
      </p>
    </div>

    <h4>{{ TRANSLATE_KEY + "PRIVACY_POLICY_CHANGES_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "PRIVACY_POLICY_CHANGES_TEXT" | translate }}
      </p>
    </div>

    <h4>{{ TRANSLATE_KEY + "CONTACT_US_TITLE" | translate }}</h4>
    <div class="col-md-9">
      <p>
        {{ TRANSLATE_KEY + "CONTACT_US_TEXT" | translate }}
      </p>
    </div>
  </div>
</div>
