<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-xl-7 position-relative">
      <div class="auth-full-bg pt-lg-5 p-4" style="background-color: #0e1726;">
        <div class="w-100">
          <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="p-4">
              <div class="text-center text-white">
                <div class="mb-2">
                  <a routerLink="/" class="d-block auth-logo">
                    <img [src]="mode === 'dark' ? 'assets/images/logos/favicon.png' : 'assets/images/logos/favicon.png'" alt="robin"
                    height="90"
                    class="logo" />
                  </a>
                </div>
                <h4 class="mb-3" style="color: #FFD700;">
                  ¡Bienvenido a Yéminus!
                </h4>
                <p class="font-size-15 mb-4">
                  Gracias por unirte a nuestra plataforma. Estamos aquí para ayudarte en cada paso del camino. Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos. ¡Esperamos que disfrutes de tu experiencia en Yéminus!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <!-- end col -->

    <div class="col-xl-5">
      <div class="auth-full-page-content p-md-2 p-4">
        <div class="w-100">
          <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="my-auto">
              <div class="mb-4">
                <h3 class="welcome-text">{{ TRANSLATE_KEY+ 'CREATE_ACCOUNT' | translate }}</h3>
              </div>
              <div class="mt-3">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                  <ngb-alert
                    type="success"
                    *ngIf="successmsg"
                    [dismissible]="false"
                    >{{ TRANSLATE_KEY+ 'REFISTRATION_SUCCES' | translate }}
                  </ngb-alert>

                  <ngb-alert
                    type="danger"
                    *ngIf="error"
                    [dismissible]="false"
                    >{{ error }}</ngb-alert
                  >

                  
                  <div class="mb-3">
                    <label for="username" class="form-label">{{ TRANSLATE_KEY+ 'FIRST_N' | translate }}</label>

                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.firstName.errors
                      }"
                      id="firstName"
                      [placeholder]="TRANSLATE_KEY+ 'P_FIRST_N' | translate"
                    />

                    <div
                      *ngIf="submitted && f.firstName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.firstName.errors.required">
                        {{ TRANSLATE_KEY+ 'FIRST_R' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="lastName" class="form-label">{{ TRANSLATE_KEY+ 'LAST_N' | translate }}</label>

                    <input
                      type="text"
                      formControlName="lastName"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.lastName.errors
                      }"
                      id="lastName"
                      [placeholder]="TRANSLATE_KEY+ 'P_LAST_N' | translate"
                    />

                    <div
                      *ngIf="submitted && f.lastName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.lastName.errors.required">
                        {{ TRANSLATE_KEY+ 'LAST_R' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">{{ TRANSLATE_KEY+ 'EMAIL' | translate }} </label>

                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                      id="email"
                      [placeholder]="TRANSLATE_KEY+ 'EMAIL_PLACEHOLDER' | translate"
                    />

                    <div
                      *ngIf="submitted && f.email.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        {{ TRANSLATE_KEY+ 'EMAIL_R' | translate }}
                      </div>
                      <div *ngIf="f.email.errors.email">
                        {{ TRANSLATE_KEY+ 'EMAIL_V' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">{{ TRANSLATE_KEY+ 'PASSWORD' | translate }}</label>

                    <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.password.errors
                      }"
                      id="password"
                      [placeholder]="TRANSLATE_KEY+ 'PASSWORD' | translate"
                    />

                    <div
                      *ngIf="submitted && f.password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.required">
                        {{ TRANSLATE_KEY+ 'PASSWORD_R' | translate }}
                      </div>
                      <div *ngIf="f.password.errors.minlength">
                        {{ TRANSLATE_KEY+ 'PASSWORD_MIN_LENGTH' | translate }}
                      </div>
                      <div *ngIf="f.password.errors.pattern" >
                        {{ TRANSLATE_KEY+ 'PASSWORD_P' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="passwordConfirmation" class="form-label"
                    >
                    {{ TRANSLATE_KEY+ 'PASSWORD_C' | translate }}
                    </label
                    >

                    <input
                      type="password"
                      formControlName="passwordConfirmation"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.passwordConfirmation.errors
                      }"
                      id="passwordConfirmation"
                      [placeholder]="TRANSLATE_KEY+ 'PASSWORD' | translate"
                    />


                    <div
                    *ngIf="submitted && f.passwordConfirmation.errors && f.passwordConfirmation.errors.passwordMismatch"
                    class="invalid-feedback"
                  >
                  {{ TRANSLATE_KEY+ 'PASSWORDS_DO_NOT_MATCH' | translate }}
                  </div>
                  <div *ngIf="submitted && f.passwordConfirmation.errors && f.passwordConfirmation.errors.required">
                    {{ TRANSLATE_KEY+ 'PASSWORD_C_R' | translate }}
                  </div>
                  </div>

                  <div>
                    <p class="mb-0">
                     {{ TRANSLATE_KEY+ 'REGISTER_BY_ROBIN' | translate }}
                      <a href="/#/meta/terms-use" class="text-primary"
                      >{{ TRANSLATE_KEY+ 'TERMS' | translate }}</a
                      >
                    </p>
                  </div>

                  <div class="mt-3 d-grid">
                    <button class="btn btn-outline-primary btn-block" type="submit">
                      {{ TRANSLATE_KEY+ 'REGISTER' | translate }}
                    </button>
                  </div>


                </form>
                <div class="mt-2 text-center">
                  <p>
                    {{ TRANSLATE_KEY+ 'ALREDY' | translate }}
                    <a
                      routerLink="/account/auth/login-2"
                      class="fw-medium text-primary"
                    >
                    {{ TRANSLATE_KEY+ 'LOGIN' | translate }}</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end container-fluid -->
