<div class="container-fluid">
  <app-page-title
    title="Profile"
    [breadcrumbItems]="menuAccountItems"></app-page-title>

  <div class="card shadow-sm mb-0">
    <form (ngSubmit)="ngSubmit()" [formGroup]="group">
      <div class="card-body p-5">
        <div class="row justify-content-end">
          <div class="col-12">
            <h4 class="card-title">{{TRANSLATE_KEY +'UPDATE_PASSWORD'|translate}}</h4>
            <p class="card-title-desc">{{TRANSLATE_KEY +'FILL'|translate}}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="password"> {{TRANSLATE_KEY +'PASSWORD'|translate}} </label>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control"
              autocomplete="new-data"
              [ngClass]="ngClassValidate(group,'password')" />
            <div *ngIf="submit && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{ TRANSLATE_KEY+ 'PASSWORD_R' | translate }}</div>
              <div *ngIf="f.password.errors.minlength">{{ TRANSLATE_KEY+ 'PASSWORD_SHORT' | translate }}</div>
              <div *ngIf="f.password.errors.pattern">{{ TRANSLATE_KEY+ 'PASSWORD_P' | translate }}</div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="passwordConfirmation"> {{TRANSLATE_KEY +'PASSWORD_C'|translate}}</label>
            <input
              id="passwordConfirmation"
              formControlName="passwordConfirmation"
              type="password"
              class="form-control"
              autocomplete="new-data"
              [ngClass]="ngClassValidate(group,'passwordConfirmation')"
              />
            <div *ngIf="submit && f.passwordConfirmation.errors" class="invalid-feedback">
              <div *ngIf="f.passwordConfirmation.errors.required">{{ TRANSLATE_KEY+ 'PASSWORD_C_R' | translate }}</div>
              <div *ngIf="f.passwordConfirmation.errors.notSame">{{ TRANSLATE_KEY+ 'PASSWORD_MISMATCH' | translate }}</div>

            </div>
          </div>



          <div class="col-md-2">
            <button type="submit" class="btn w-100 btn-primary">{{TRANSLATE_KEY +'SUBMIT'|translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
