<footer class="landing-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="mb-4 mb-lg-0">
          <h5 class="mb-3 footer-list-title">Empresa</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="/#/">Inicio</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="mb-4 mb-lg-0">
          <h5 class="mb-3 footer-list-title">Recursos</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="/#/meta/privacy-policy">Política de privacidad</a></li>
            <li><a href="/#/meta/terms-use">Términos y condiciones</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="mb-4 mb-lg-0">
          <h5 class="mb-3 footer-list-title">Últimas Noticias</h5>
          <div class="blog-post">
            <a href="javascript: void(0);" class="post">
              <div class="badge badge-soft-success font-size-11 mb-3">
                Yéminus en acción
              </div>
              <h5 class="post-title">
                Yéminus ha desplegado sus servicios al público
              </h5>
              <p class="mb-0">
                <i class="bx bx-calendar me-1"></i> Feb, 2024
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Additional content -->
    <div class="row">
      <div class="col-lg-6">
        <h5>Contacto</h5>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>YouTube</li>
        </ul>
        <p><strong>Llámanos:</strong></p>
        <ul>
          <li>Teléfono: +57 123 4567890 Fax: 0987654</li>
          <li>Conmutador: (57) (123) 456 7890</li>
          <li>Correo: info@yeminus.com</li>
          <li><strong>Dirección:</strong></li>
          <li>Yéminus, Pereira, Risaralda, Colombia</li>
        </ul>
      </div>
    </div>
    <!-- end additional content -->
    <!-- end row -->

    <hr class="footer-border my-5" />

    <div class="row">
      <div class="col-lg-6">
        <div class="mb-4">
          <img src="assets/images/logos/favicon.png" alt="" height="70" />
        </div>

        <p class="mb-2">2024 © Yéminus.</p>
        <p>
          Yéminus es una solución innovadora que simplifica y automatiza los procesos de recursos humanos. Nuestra misión es mejorar la eficiencia y la calidad en la gestión del personal.
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->
</footer>
